ktor {
    deployment {
        port =
        port = ${?PORT}
        watch = [etrian-odyssey-planner]
    }
    application {
        modules = [ com.kaiserpudding.ApplicationKt.module ]
    }
}

jwt {
    domain = "https://jwt-provider-domain/"
    audience = "jwt-audience"
    realm = "etrian odyssey planner"
}
